@import url("fonts.css");
body
{
    margin: 0px;
    background: #1f1f1f;
}
input
{
    width: 250px;
    height: 40px;
    margin: 20px;
    border-radius: 8px;
    border: 5px solid #260d92;
    font-size: 20px;
    line-height: 20px;
}
nav
{
    position: fixed;
    width: 100%;
    height: 90px;
    background: #651274;
    border-bottom: 2px solid rgb(45, 5, 53);
}
select
{
    width: 130px;
    height: 50px;
    margin: 20px;
    border: 5px solid #0d5292;
    font-size: 20px;
    border-radius: 10px;
}

#Content
{
    display: flex;
}

#navigation
{
    overflow: auto;
    width: 300px;
    height: 100vh;
    background: #81086d;
    border-right: 2px solid #4b0047;
}

#viewer
{
    overflow: auto;
}

.textTitle
{
    color: #ffffff;
    font-size: 68px;
    margin-top: 120px;
    margin-left: 40px;
    margin-bottom: 50px;
    font-family: 'GmarketSansBold';
}
.textSubTitle
{
    color: #ffffff;
    font-size: 30px;
    width: 600px;
    margin-left: 50px;
    font-family: 'GmarketSansMedium';
    border-bottom: 1px solid #ffffff;
    transition-duration: 300ms;
}
.textContent
{
    color: #ffffff;
    border-radius: 9px;
    width: 800px;
    
    font-size: 25px;
    margin-left: 50px;
    margin-right: 40px;
    font-family: 'GmarketSansLight';
}